# 실습 기간에만 임시적으로 API를 오픈합니다. (.env 파일)
# Azure OpenAI 서비스
AZURE_OPENAI_ENDPOINT="https://yb-kor1.cognitiveservices.azure.com/"
AZURE_OPENAI_API_KEY="74XRu6SUZ5xA4jMl0aKdkV5r8U0owYlX9ZR2LpwDhBXozPHvgtfCJQQJ99BLACNns7RXJ3w3AAAAACOGjb2g"
AZURE_OPENAI_DEPLOYMENT="gpt-4.1-mini"
API_Version = "2024-12-01-preview"

# Azure Speech 서비스
AZURE_SPEECH_KEY="74XRu6SUZ5xA4jMl0aKdkV5r8U0owYlX9ZR2LpwDhBXozPHvgtfCJQQJ99BLACNns7RXJ3w3AAAAACOGjb2g"
Azure_SPEECH_ENDPOINT = "https://swedencentral.tts.speech.microsoft.com"
AZURE_SPEECH_REGION="swedencentral"
