# 실습 기간에만 임시적으로 API를 오픈합니다. (.env 파일)
AZURE_OPENAI_ENDPOINT="https://yb-kor1.cognitiveservices.azure.com/"
AZURE_OPENAI_API_KEY="74XRu6SUZ5xA4jMl0aKdkV5r8U0owYlX9ZR2LpwDhBXozPHvgtfCJQQJ99BLACNns7RXJ3w3AAAAACOGjb2g"
AZURE_OPENAI_DEPLOYMENT="gpt-4.1-mini"
api_version = "2024-12-01-preview"

AZURE_SPEECH_KEY="xxx"
AZURE_SPEECH_REGION="koreacentral"
endpoint_url = "https://sweden-yb1.cognitiveservices.azure.com/"

speech_config = speechsdk.SpeechConfig(subscription=speech_key, endpoint=base_endpoint)
speech_config.speech_synthesis_voice_name = "en-US-Ava:DragonHDLatestNeural"
